@import './variables.scss';
@import './page.scss';

main.content {
  justify-content: center;
  align-items: center;
  z-index: 0;
}

footer {
  background-color: $primary;
  font-size: .75rem;
  padding: 1rem;
  color: $secondary-trans;
  text-align: right;

  span {
    color: $accent;
  }
}